.benefits {
  min-height: 470px;
  background-color: #f6f6f6;
  padding: 70px 0 80px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 238px;
  }
  &__title {
    margin-top: 38px;
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
  }
  &__descr {
    margin-top: 26px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #0d0d0d;
    a {
      color: #ff0000;
      text-decoration: underline;
    }
  }
  &__img {
    &_animated {
      animation: heartbeat 1s ease infinite;
      // Свойства анимации можно записывать комбинировано главное сохранять последовательность укащанную в документации.
      //animation-name: heartbeat;
      // animation-duration: 2s;
      // animation-timing-function: ease;
      // animation-iteration-count: infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}
