.header {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  &__logo {
    width: 250px;
    img {
      width: 100%;
    }
  }
}
// Внутри блока мы прописываем что в хедере есть &__logo оно заниает 250px и картинка внутри него будет занимать 100% от этого размера
