// .pageup {
//   & img {
//     width: 50px;
//     height: 50px;
//     color: $main-color;
//   }
// }
// В данно мпримере ссылка стилизована внутри svg файла так как цвет в свойстве fill

.pageup {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  // ПРи помощи фиксированого позиционирования делаем значок прикрепленым к определенной точки экрана. Так как это ссылка присваиваем ей display: block; НО изначально в этом параметре будет NONe и наша иконка будет отображаться только после того когда страница будет прокручена на 1600px
  & img {
    width: 100%;
  }
}
